<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<!--    <h1>Hola mundo desde ejs</h1> -->
    <h1>Formulario Estudiantes</h1>
    <form action="/crud_c" method="post">
        <input type="text" id="txt_id" name="txt_id" placeholder="0">
        <input type="text" id="txt_carnet" name="txt_nit" placeholder="carnet">
        <input type="text" id="txt_nombres" name="txt_nombres" placeholder="Nombres">
        <input type="text" id="txt_apellidos" name="txt_apellidos" placeholder="Apellidos">
        <input type="text" id="txt_direccion" name="txt_direccion" placeholder="Direccion">
        <input type="text" id="txt_telefono" name="txt_telefono" placeholder="Telefono">
        <input type="text" id="txt_correo" name="txt_correo" placeholder="Correo">
        <input type="text" id="txt_tipo_sangre" name="txt_tipo_sangre" placeholder="Tipo de Sangre">
        <input type="date" id="txt_fn" name="txt_fn" placeholder="yyyy-MM-dd">
       <button type="submit" id="btn_crear" name="btn_crear" value="crear">Crear</button>
       <button type="submit" id="btn_actualizar" name="btn_actualizar" value="actializar">Actualizar</button>
       <button type="submit" id="btn_borrar" name="btn_borrar" value="borrar">Borrar</button>
    </form>
    <table class="table" border="1px">
        <thead>
            <tr>
                <th>id</th>
                <th>nit</th>
                <th>nombres</th>
                <th>apellidos</th>
                <th>direccion</th>
                <th>telefono</th>
                <th>correo electrónico</th>
                <th>tipo de sangre</th>
                <th>telefono</th>
                <th>nacimiento</th>
            </tr>
        </thead>
        <tbody>
           <% resultado.forEach((estudiante) => { %>

           
            <tr>
                <td><%= estudiante.id_estudiante %></td>
                <td><%= estudiante.carnet %></td>
                <td><%= estudiante.nombres %></td>
                <td><%= estudiante.apellidos %></td>
                <td><%= estudiante.direccion %></td>
                <td><%= estudiante.telefono %></td>
                <td><%= estudiante.correo_electronico %></td>
                <td><%= estudiante.id_tipo_sangre %></td>
                <td><%= estudiante.fecha_nacimiento %></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
</body>
</html>